/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 8, 2020, 2:27:55 PM
    Author     : frontend
*/

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,400;1,300&display=swap');



/*
font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/


@font-face {
    font-family: 'KaushanScript-Regular';
    src: url('fonts/KaushanScript-Regular/KaushanScript-Regular.eot');
    src: 
        local('KaushanScript-Regular'),
        url('fonts/KaushanScript-Regular/KaushanScript-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/KaushanScript-Regular/KaushanScript-Regular.woff2') format('woff2'),
        url('fonts/KaushanScript-Regular/KaushanScript-Regular.woff') format('woff'),
        url('fonts/KaushanScript-Regular/KaushanScript-Regular.ttf') format('truetype'),
        url('fonts/KaushanScript-Regular/KaushanScript-Regular.svg#KaushanScript-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

