/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 8, 2020, 2:28:30 PM
    Author     : frontend
*/


/*

> 0        ''      NO NAME

> 576px    SM    Small Devices

> 768px    MD    Medium Devices

> 992      LG    Large Devices

> 1200     XL    Extra Large

> 1400     XXL   Extra Extra Large

*/

@media(min-width:576px){
    .welcome-section .carousel-item .hero-title{
        font-size: 40px;
    }
    .welcome-section .carousel-item .welcome-title{
        font-size: 50px;
    }
    .welcome-section .carousel-item .btn-learn{
        padding: 6px 10px;
    }
    .welcome-section .carousel-item a{
        font-size: 10px;
    }
    .welcome-section .carousel-item{
        padding-top: 100px;
        padding-bottom: 160px;
    }


    /*  ABOUT SECTION  */

    .about-section .about-hero-title{
        font-size: 25px;
    }

    .about-section .about-secondary-title{
        font-size: 25px
    }

    .clients .client-item .client-item-role:after{
        border-bottom: 3px solid #F38181;
        content: "";
        display: block;
        width: 60px;
        background-color: #FFFFFF;
        text-align: left;
        margin-right: auto;
        margin-left: 0;
        margin-bottom: 30px;
        margin-top: 20px; 
    }

    .work-section .work-gallery .work-hover .work-hover-icon{
        font-size: 15px;
        margin-bottom: 10px;
    }

    .work-section .work-gallery .work-hover .work-hover-title{
        font-size: 10px;
    }

    .work-section .work-gallery .work-hover .work-hover-description{
        font-size: 10px;
    }
}

@media(min-width:768px){

    /*HEADER*/

    header .navbar .navbar-nav .nav-link{
        background-color:transparent;
        color: #fff;
        border-bottom: 3px solid transparent;
    }

    .welcome-section .carousel-item .hero-title{
        font-size: 50px;
    }
    .welcome-section .carousel-item .welcome-title{
        font-size: 70px;
    }
    .welcome-section .carousel-item .btn-learn{
        padding: 8px 12px;
    }
    .welcome-section .carousel-item a{
        font-size: 12px;
    }
    .welcome-section .carousel-item{
        padding-top: 120px;
        padding-bottom: 180px;
    }

    /*  ABOUT SECTION  */

    .about-section .about-hero-title{
        font-size: 30px;
    }

    .about-section .about-secondary-title{
        font-size: 30px
    }


    .numbers{
        text-align: center;
        padding: 45px 0px;   

    }

    .clients .client-item .client-item-role:after{
        border-bottom: 3px solid #F38181;
        content: "";
        display: block;
        width: 60px;
        background-color: #FFFFFF;
        text-align: left;
        margin-right: auto;
        margin-left: 0;
        margin-bottom: 20px;
        margin-top: 20px; 
    }
    
}

@media(min-width:992px){

    /*NAV*/
    header .navbar .navbar-nav .nav-link{
        margin-left: 30px;
    }
    .welcome-section .carousel-item .hero-title{
        font-size: 72px;
    }
    .welcome-section .carousel-item .welcome-title{
        font-size: 100px;
    }
    .welcome-section .carousel-item .btn-learn{
        padding: 10px 15px;
    }
    .welcome-section .carousel-item{
        padding-top: 130px;
        padding-bottom: 200px;
        
    }
    
    
    
    
    
    .work-section .work-gallery .work-hover .work-hover-icon{
        font-size: 30px;
        margin-bottom: 10px;
    }

    .work-section .work-gallery .work-hover .work-hover-title{
        font-size: 14px;
    }

    .work-section .work-gallery .work-hover .work-hover-description{
        font-size: 15px;
    }

}

@media(min-width:1200px){


}

@media(min-width:1400px){


}